
.about-container{
    display: flex;
    justify-content:center;
    width:100%;
    margin-bottom: 5rem;
    position: relative;
}
.article{
    display: flex;
    justify-content: center;
    align-items:center;
    width:68rem;

}
.article-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left:5rem;

    
}
.article-right{
    position: relative;
    flex: 1;
    height: 25rem;
}
.article-left h1{
    font-family:'Markazi';
    font-size:3rem;
    margin-left:2.5rem;
    margin-bottom:1rem;
   
}
.article-left :nth-child(2){
    font-family: 'Karla ';
    font-size:1.5rem;
    margin-left: 2.5rem;
    margin-top: 0;
}
.article-left :nth-child(3){
    font-family:'Karla';
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-top:1rem;
}
.article-right :nth-child(1){
    position: absolute;
    width:20rem;
    top: 4rem;
    left: 0;
}
.article-right :nth-child(2){
    position: absolute;
    width:20rem;
    top: 13rem;
    left:13rem;
    z-index: 1;

}

.lemon {
    position: absolute;
    border-radius: 50%; 
    animation: bounce 8s infinite; 
  }
  
 @keyframes bounce {
    0% { top: 0; left: 0; }
    25% { top: 0; left: 95%; }
    50% { top: 95%; left: 95%; }
    75% { top: 95%; left: 0; }
    100% { top: 0; left: 0; }
  }

  @media (max-width: 576px) {

   .article{
    flex-direction: column;
   }
   .article-left{
    margin: 0;
   }
   .article-left h1{
    font-family:'Markazi';
    font-size:1.4rem;
    
   
}
.article-left :nth-child(2){
    font-size:1rem;
    }
.article-left :nth-child(3){
    font-size: 0.8rem;
}
   .article-right{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .article-right :nth-child(1){
    position: relative;
    top: 0;
    left:3rem;
    z-index:1;
}
.article-right :nth-child(2){
    position: relative;
    top:-1rem;
    left:0;
    z-index:1;
}
 }

 @media (min-width: 577px) and (max-width: 768px) {
     
   .article{
    flex-direction: column;
   }
   .article-left{
    margin: 0;
   }
   .article-left h1{
    font-size:1.4rem;
    
   
}
.article-left :nth-child(2){
    font-size:1rem;
    }
.article-left :nth-child(3){
    font-size: 0.8rem;
}
   .article-right{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .article-right :nth-child(1){
    position: relative;
    top: 0;
    left:3rem;
    z-index:1;
}
.article-right :nth-child(2){
    position: relative;
    top:-1rem;
    left:0;
    z-index:1;
}
 }
 
 @media (min-width: 769px) and (max-width: 1024px) {
    .article-left{
        margin: 0;
       }
       .article-right :nth-child(1){
        top: 0;
        left:3rem;
        z-index:1;
    }
    .article-right :nth-child(2){
        top:10rem;
        left:0;
        z-index:1;
    }
 }
 
 @media (min-width: 1025px) and (max-width: 1200px) {
    .article-left{
        margin: 0;
       }
 }