
.footer-container {
    display: flex;
    position: relative;
    justify-content:space-between;
    flex-direction:row;
    align-items:top;
    background-color: #333333; 
    color: gray; 
    
  }

  
  .list-container {
    display:flex;
    flex-direction: column;
    flex: auto;
    align-items: ce;
  }
  
  .list-title {
    font-size: 1.2rem;
    font-family: 'Karla' ;
    margin-bottom: 10px;
  }
  
.footer {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 10px;
    font-family: 'Karla';
    font-size:0.90rem;
   
  }
 .footer   li:hover a{
     color:black;
     background-color: white;
     border-radius: 5px;
  }
  .footer  li  a {
    color:white; 
    text-decoration: none;
  }
  
  .image{
  
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .image img {
    width: 300px; 
    border-radius: 5px;

  }
  



@media (max-width: 576px) {
  
  .image {
    display: none;
  }
 .footer-container{
  display: flex;
  justify-content:space-between;
  border:1px solid;
 }
 .list-title {
  font-size: 1rem;
}
.footer li {
  font-size:0.70rem;
 
}

}

@media (min-width: 577px) and (max-width: 768px) {
  .image {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
}

@media (min-width: 1025px) and (max-width: 1200px) {
    
}