
.footer-container {
    display: flex;
    position: relative;
    justify-content:space-around;
    flex-direction:row;
    align-items:top;
    background-color: #333333; /* Change the background color as needed */
    color: gray; /* Change the text color as needed */
    
  
  }
  
  .list-container {
  flex: 1;
  }
  
  .list-title {
    font-size: 1.2rem;
    font-family: 'Karla' ;
    margin-bottom: 10px;
  }
  
.footer {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 10px;
    font-family: 'Karla';
    font-size:0.90rem;
   
  }
 .footer   li:hover a{
     color:black;
     background-color: white;
     border-radius: 5px;
  }
  .footer  li  a {
    color:white; 
    text-decoration: none;
  }
  
  .image{
  
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .image img {
    width: 300px; 
    border-radius: 5px;

  }
  