.cart-container{
    position:fixed;
    top:0;
    right:0;
    transform: translate(-50%, -50%);
    border-radius:1rem;
    background-color:white;
    z-index:200;
    width:100vh;
    border:1px solid;
    padding:2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity:95%;
    animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
    0% {
        transform: translate(100%, 0); 
    }
    100% {
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }
}
.cart{
    display:flex;
    flex-direction:column;
}
.cart-heading{
    display: flex;
    justify-content:space-between;
}
.right-heading{
    width:20rem;
    display:flex;
   justify-content: space-between;
}
.cart-item{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top:1rem;
}
.cart-item img{
    width:50px;
    height:50px;
}

.cart-item-right{
    display: flex;
    width: 20rem;
    justify-content: space-around;
    
}
.cart-items-bottom{
    margin-top: 1rem;
    display: flex;
    justify-content:space-between ;
    margin-bottom: 1rem;
}
