.navigation-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid;
     position:fixed;
     z-index:100;
     background-color: white;
     width:100%;

}
.img-container{
    display: flex;
    width: 30rem;
    justify-content:center;
}
.logo{
    margin-left:5rem;
    
}
.nav-links{
    display: flex;
    width: 70rem;
    justify-content:space-around;
    margin-right:18rem;
    list-style-type: none;
}
.nav-links li a{
    font-family: 'Markazi Text', serif;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

@media( max-width:768px){
.nav-links li a{
    font-size:0.75rem;
}
}
@media( min-width:768px) and ( max-width:1324px){
   
.nav-links li a{
 font-size: 1rem;
}

}
@media( min-width:1324px){


}